


<div class="container">

<form  (ngSubmit)="addEmployee(form)" #form="ngForm">
    <div class="row py-5" >
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="txtname" ngModel>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Job" aria-label="Last name" name="txtjob" ngModel> 
        </div>
        <div class="col">
           <button type="submit" class="btn btn-success" > Add </button> 
          
          </div>
      </div>
<p class="alert alert-success" *ngIf="createid!=0"> User Updated !! </p>

</form>

</div>
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">email</th>
        <th scope="col">Avatar</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of UserList">
        <th scope="row">{{user.id}}</th>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td><img [src]="user.avatar"/></td>
        <td>
            <button class="btn btn-success" routerLink="/details/{{user.id}}"   >Details</button>
            <button class="btn btn-primary mx-2"  routerLink="/update/{{user.id}}"   > Edit</button>
            <button class="btn btn-danger me-2" (click)="delete(user.id)"   > Delete</button>
        </td>
      </tr>
     
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
  
      <li class="page-item"><a class="page-link" (click)="getUser(1)">1</a></li>
      <li class="page-item"><a class="page-link" (click)="getUser(2)">2</a></li>
  
    </ul>
  </nav>

</div>